@model ProblemAnalysis1.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h4>Confirm Deletion</h4>

<h2>@Model.FirstName @Model.LastName (Age: @Model.StudentAge(Model.DateofBirth))</h2>
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Cancel</a>
    </div>
</form>
